[submodule "UntitledGameEngine/vendor/spdlog"]
	path = UntitledGameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "UntitledGameEngine/vendor/glfw"]
	path = UntitledGameEngine/vendor/glfw
	url = https://github.com/YPWang0818/glfw
